---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const articleEntries = await getCollection("article");

  return articleEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props as {
  entry: CollectionEntry<"article">;
};
const { Content, headings } = await entry.render();

const date = Intl.DateTimeFormat("ja-JP", { dateStyle: "short" }).format(
  entry.data.date
);

const image = entry.data.image.startsWith("http")
  ? entry.data.image
  : Astro.url.origin + entry.data.image;
---

<Layout
  title={entry.data.title}
  description={entry.data.description}
  image={image}
>
  <main class="mt-20 px-6 lg:px-10">
    <div class="relative max-w-5xl mx-auto">
      <img
        src={entry.data.image}
        alt=""
        fetchpriority="high"
        class="w-full h-auto aspect-video object-cover"
      />
      <div
        class="mt-4 text-neutral-900 dark:text-neutral-100 backdrop-blur-sm md:text-neutral-100 md:bg-neutral-800/70 md:absolute md:top-1/4 md:right-0 md:py-4 md:px-6 md:m-0 md:w-10/12"
      >
        <h1 class="text-2xl/relaxed font-bold md:w-3/4 md:text-3xl/relaxed">
          {entry.data.title}
        </h1>
        <p class="text-base mt-4 text-right md:text-xl">
          <span>by 37108</span>
          <span class="ml-4">at {date}</span>
        </p>
      </div>
    </div>
  </main>

  <section class="mt-20 px-6 lg:px-10">
    <nav class="mx-auto max-w-4xl">
      <h2 class="text-2xl text-neutral-900 dark:text-neutral-100">
        Table of contents
      </h2>
      <ul class="mt-6 text-neutral-700 dark:text-neutral-300">
        {
          headings.map((item) => (
            <li
              class="list-disc text-base/loose hover:underline"
              style={{ marginLeft: `${1.25 * item.depth}rem` }}
            >
              <a href={`#${item.slug}`}>{item.text}</a>
            </li>
          ))
        }
      </ul>
    </nav>

    <article
      class="mx-auto mt-10 max-w-4xl space-y-6 text-base/7 text-neutral-900 dark:text-neutral-100 article"
    >
      <Content />
    </article>
    <div class="mt-20 mx-auto pt-5 max-w-4xl">
      <a
        href="/"
        class="flex items-center text-neutral-900 dark:text-neutral-100 hover:underline"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
        </svg>
        <span class="ml-2 text-base">return to articles</span>
      </a>
    </div>
  </section>
  <div class="mt-20"></div>
</Layout>

<style lang="scss" is:global>
  .article {
    h2 {
      @apply pb-2 text-2xl font-bold border-b border-neutral-400;
    }
    h3 {
      @apply pb-2 text-xl font-bold border-b border-neutral-600;
    }
    h4 {
      @apply pb-2 text-xl border-b;
    }

    p {
      @apply whitespace-pre-wrap;
    }

    img {
      @apply w-full h-auto object-contain mx-auto bg-neutral-600;
    }
    iframe {
      @apply w-full h-auto aspect-video mx-auto;
    }

    a {
      @apply text-indigo-500 dark:text-indigo-300 hover:underline;
    }
    strong {
      @apply font-bold;
    }
    code {
      @apply py-px px-1 break-words bg-neutral-300 dark:bg-neutral-700 rounded-sm;
    }
    blockquote {
      @apply pl-4 py-px border-l-2 border-neutral-500;
    }
    hr {
      @apply border-neutral-100;
    }

    table {
      @apply w-full border-collapse table-auto;
      thead {
        tr {
          th {
            @apply pb-2 border-b border-neutral-400 font-normal;
          }
        }
      }
      tbody {
        tr {
          td {
            @apply py-2 text-center font-normal;
          }
        }
      }
    }
    pre {
      @apply p-6 rounded-md;
      code {
        @apply p-0 font-jetbrains bg-transparent dark:bg-transparent rounded-none;
      }
    }
    ul {
      li {
        @apply ml-5 list-disc text-base/loose;
      }

      ol {
        li {
          @apply ml-5 list-decimal text-base/loose;
        }
      }
    }
    ol {
      li {
        @apply ml-5 list-decimal text-base/loose;
      }

      ul {
        li {
          @apply ml-5 list-disc text-base/loose;
        }
      }
    }
  }
</style>
