---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const posts = (await getCollection("article"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 6);

const image = Astro.url.origin + "/assets/og/default.webp";
---

<Layout title="37108's blog" description="articles from 37108" image={image}>
  <main class="my-20">
    <section class="px-6 lg:px-10">
      <div class="relative w-fu1l h-100 max-w-5xl mx-auto">
        <img
          src="/assets/enso.webp"
          width="800"
          height="800"
          alt=""
          fetchpriority="high"
          class="absolute w-full max-w-[400px] h-auto aspect-square"
        />
        <div class="relative flex items-center justify-center sm:w-1/2 h-full">
          <h1
            class="text-5xl/normal text-neutral-900 dark:text-neutral-100 text-right font-bold font-rale-way"
          >
            Out from my Head and Experiences
          </h1>
        </div>
      </div>
    </section>
    <section class="mt-20 px-6 lg:px-10">
      <div class="max-w-5xl mx-auto">
        <h2
          class="text-4xl/normal text-neutral-900 dark:text-neutral-100 font-bold"
        >
          Articles
        </h2>
        <div
          class="grid grid-cols-[repeat(auto-fit,minmax(320px,1fr))] gap-8 mt-6"
        >
          {
            posts.map(({ data, slug }) => (
              <Card
                title={data.title}
                image={data.image}
                date={data.date}
                href={`/articles/${slug}`}
              />
            ))
          }
        </div>
        <a href="/articles/tags" class="group relative inline-flex mt-10">
          <span
            class="inline-flex px-6 py-2 border border-neutral-800 text-base text-neutral-900 bg-neutral-200 dark:border-neutral-200 dark:text-neutral-100 dark:bg-neutral-800 group-hover:translate-x-2 group-hover:translate-y-3 duration-300"
          >
            show more</span
          >
          <div
            class="-z-10 absolute -right-2 -bottom-3 w-full h-full border border-neutral-400 dark:border-neutral-500"
          >
          </div>
        </a>
      </div>
    </section>
  </main>
</Layout>

<style lang="scss"></style>
