---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const posts = await getCollection("article");

const image = Astro.url.origin + "/assets/og/default.webp";
---

<Layout title="37108's blog" description="articles from 37108" image={image}>
  <main class="my-20">
    <section class="px-6 lg:px-10">
      <div class="relative w-fu1l h-100 max-w-5xl mx-auto">
        <img
          src="/assets/enso.webp"
          width="800"
          height="800"
          alt=""
          fetchpriority="high"
          class="absolute w-full max-w-[400px] h-auto aspect-square"
        />
        <div class="relative flex items-center justify-center sm:w-1/2 h-full">
          <h1
            class="text-5xl/normal text-stone-100 text-right font-bold font-rale-way"
          >
            Out from my Head and Experiences
          </h1>
        </div>
      </div>
    </section>
    <section class="mt-20 px-6 lg:px-10">
      <div class="max-w-5xl mx-auto">
        <h2 class="text-4xl/normal text-stone-100 font-bold">Articles</h2>
        <div
          class="grid grid-cols-[repeat(auto-fit,minmax(320px,1fr))] gap-8 mt-6"
        >
          {
            posts.map(({ data, slug }) => (
              <Card
                title={data.title}
                image={data.image}
                date={data.date}
                href={`/articles/${slug}`}
              />
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
