---
import { getCollection } from "astro:content";
import Layout from "../layouts/SiteBaseLayout.astro";
import Card from "../components/Card.astro";
import { sort } from "../lib/sort";

const posts = sort(await getCollection("article")).slice(0, 6);
const slides = (await getCollection("slide"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 4);

const image = Astro.url.origin + "/assets/og/default.webp";
---

<Layout title="37108's blog" description="articles from 37108" image={image}>
  <main class="mt-10 mb-20 text-text">
    <section class="px-6 lg:px-10">
      <div class="relative w-fu1l h-100 max-w-5xl mx-auto">
        <img
          src="/assets/enso.webp"
          width="800"
          height="800"
          alt=""
          fetchpriority="high"
          class="absolute w-full max-w-[400px] h-auto aspect-square"
        />
        <div class="relative flex items-center justify-center sm:w-1/2 h-full">
          <h1 class="text-5xl/normal text-right font-bold font-title">
            Out from my Head and Experiences
          </h1>
        </div>
      </div>
    </section>
    <section class="mt-20 px-6 lg:px-10">
      <div class="max-w-5xl mx-auto">
        <h2 class="text-4xl/normal font-bold font-title">Articles</h2>
        <div
          class="grid grid-cols-[repeat(auto-fit,minmax(320px,1fr))] gap-8 mt-6">
          {
            posts.map(({ data, id }) => (
              <Card
                title={data.title}
                image={data.image}
                date={data.date}
                href={`/articles/${id}`}
              />
            ))
          }
        </div>
        <a href="/articles/" class="group relative inline-flex mt-10">
          <span
            class="inline-flex px-6 py-2 border border-neutral-800 text-base dark:border-neutral-200 group-hover:translate-x-2 group-hover:translate-y-3 duration-300">
            show more</span
          >
          <div
            class="-z-10 absolute -right-2 -bottom-3 w-full h-full border border-neutral-400 dark:border-neutral-500">
          </div>
        </a>
      </div>
    </section>

    <section class="mt-20 px-6 lg:px-10">
      <div class="max-w-5xl mx-auto">
        <h2 class="text-4xl/normal font-bold font-title">Speaks</h2>
        <div class="space-y-4 mt-6">
          {
            slides.map(({ data, id }) => (
              <a
                href={`/slides/${id}`}
                class="flex justify-between hover:opacity-50">
                <span>{data.title}</span>
                <time>
                  {Intl.DateTimeFormat("ja-JP", {
                    dateStyle: "short",
                  }).format(data.date)}
                </time>
              </a>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
